body {
  margin: 30px;

  font-family: 'SCoreDream', sans-serif;
  font-weight: 400;

  background-color: #daccf8;
}
body ol {
  padding: 0%;
  margin: 0%;
  list-style: none;
  text-align: center;
}
body ol li {
  margin-bottom: 5px;
}
body a {
  text-decoration: none;
  color: black;
}

.title {
  display: flex;
  flex-direction: column;

  padding-top: 20px;
  margin-bottom: 50px;
  
  font-size: 50px;
}
.title #title1 {
  font-size: 40px;
  font-weight: 400;
}
.title #title2 {
  font-weight: 500;
}

.nicknameFrame {
  display: flex;
  flex-direction: column;
}
.nicknameFrame .inputField {
  font-size: 12px;
}
.nicknameFrame .inputField input {
  margin-right: 10px;
  width: 50%;
  height: 25px;

  border: 1px solid;
  border-radius: 5px;

  background-color: rgba(255, 255, 255, 0);
}
.nicknameFrame .inputField button {
  width: 100px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  padding: 3px 6px;
  background-color: #7846fe;
  color: white;

  font-size: 12px;
}
.nicknameFrame .nicknameDiscribe {
  margin-top: 10px;
  margin-bottom: 30px;
  
  font-weight: 400;
  font-size: 12px;
}

.dateFrame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.dateFrame .selector {
  font-weight: 400;
  font-size: 18px;

  margin-bottom: 10px;

  text-align: center;
}
.dateFrame .year {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-weight: 300;
}
.dateFrame .year #Year2022 {
  margin-bottom: 5px;
  cursor: pointer;
}
.dateFrame .year #Year2023 {
  cursor: pointer;
}
.dateFrame .month {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dateFrame .month .monthList {
  opacity: 0;
  cursor: pointer;
}
.dateFrame .date {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dateFrame .date .dateSet {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dateFrame .date .dateList {
  opacity: 0;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  margin-top: 50px;
  color: #444444;
}
footer .bordertop {
  width: 90%;
  border: none;
  border-top: 1.5px solid black;
  margin: auto;
  margin-bottom: 20px;
}
footer .credit {
  margin-bottom: 2px;

  font-weight: 300;
  font-size: 16px;
}
footer .contact {
  font-weight: 300;
  font-size: 13px;
}
footer .contact a {
  color: #7846fe;
  font-weight: 400;
}