body {
  margin: 0px;
  
  margin: 30px;

  font-family: 'SCoreDream', sans-serif;
  font-weight: 400;

  background-color: #daccf8;
}

.title {
  display: flex;
  flex-direction: column;

  margin-bottom: 50px;
  
  font-size: 50px;
}
.title #title1 {
  font-size: 40px;
  font-weight: 400;
}
.title #title2 {
  font-weight: 500;
}

.nicknameFrame {
  display: flex;
  flex-direction: column;
}
.nicknameFrame .inputField {
  font-size: 12px;
}
.nicknameFrame .inputField input {
  margin-right: 10px;
  width: 60%;
  height: 23px;

  border: none;
  border-bottom: 1px solid;

  background-color: rgba(255, 255, 255, 0);
}
.nicknameFrame .inputField button {
  width: 25%;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  background-color: #7846fe;
  color: white;

  font-size: 12px;
}
.nicknameFrame .nicknameDiscribe {
  margin-top: 10px;
  
  font-weight: 300;
  font-size: 12px;
}