body {
  margin: 30px;

  font-family: 'SCoreDream', sans-serif;
  font-weight: 400;

  background-color: #daccf8;
}

.datePM {
  display: flex;
  justify-content: center;
}
.datePM span {
  font-size: 14px;

  color: #ffffff;
  background-color: rgba(186, 173, 211, 1.0);

  padding: 5px 13px 3px 13px;
  border-radius: 15px;
}

.PMFrame {
  display: inline-block;
  position: relative;

  width: 300px;
  margin-bottom: 20px;

  font-family: 'SCoreDream', sans-serif;
}
.PMFrame .ProfilePic {
  display: inherit;
  position: absolute;

  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.PMFrame .Name {
  position: absolute;

  font-weight: 500;
  font-size: 14px;

  margin-top: 2px;
  margin-left: 40px;
}
.PMFrame .PMContentFirst {
  display: inherit;
  position: inherit;

  margin-top: 22px;
  margin-left: 40px;
  margin-bottom: 2px;

  font-weight: 400;
  font-size: 15px;

  color: #ffffff;
  background-color: #7846fe;

  padding: 12px 15px 10px 13px;
  border-radius: 3px 18px 18px 3px;
}
.PMFrame .PMContent {
  display: inherit;
  position: inherit;

  margin-left: 40px;
  margin-bottom: 2px;

  font-weight: 400;
  font-size: 15px;

  color: #ffffff;
  background-color: #7846fe;

  padding: 10px 15px 8px 13px;
  border-radius: 3px 18px 18px 3px;
}

/* .DateFramePM {
  margin: 1vw;
}

.DateFramePM .DatePM {
  margin-left: 50%;
  transform: translate(-50%);

  font-size: 0.71vw;
  font-weight: 400;

  color: #ffffff;
  background-color: rgba(186, 173, 211, 1.0);

  padding: 0.35vw 0.9vw 0.35vw 0.9vw;
  border-radius: 0.8vw;
}

.PMFrame {
  display: inline-block;
  position: relative;

  width: 22.5vw;
  margin-top: 0.3vw;
  margin-right: 10%;
  margin-bottom: 0.2vw;

  line-height: 1.25vw;

  font-family: 'SCoreDream', sans-serif;
}

.PMFrame .ProfilePic {
  display: inherit;
  position: absolute;

  width: 2.65vw;
  height: 2.65vw;

  border-radius: 50%;
}

.PMFrame .Name {
  display: inherit;
  position: absolute;

  margin-left: 3.2vw;
  margin-top: 0.5vw;

  font-weight: 500;
  font-size: 0.81vw;
}

.PMFrame .PMContentFirst {
  display: inherit;
  position: inherit;

  margin-top: 1.8vw;
  margin-left: 3.2vw;
  margin-bottom: 0.1vw;

  font-weight: 400;
  font-size: 0.91vw;

  color: #ffffff;
  background-color: #7846fe;

  padding: 0.9vw 1.0vw 0.8vw 1.1vw;
  border-radius: 0.3vw 1.3vw 1.3vw 0.3vw;
}

.PMFrame .PMContent {
  display: inherit;
  position: inherit;

  margin-left: 3.2vw;
  margin-bottom: 0.1vw;

  font-weight: 400;
  font-size: 0.91vw;

  color: #ffffff;
  background-color: #7846fe;

  padding: 0.9vw 1.0vw 0.8vw 1.1vw;
  border-radius: 0.3vw 1.3vw 1.3vw 0.3vw;
}

.PMFrame .PMContentLast {
  display: inherit;
  position: inherit;

  margin-left: 3.2vw;

  font-weight: 400;
  font-size: 0.91vw;

  color: #ffffff;
  background-color: #7846fe;

  padding: 0.9vw 1.0vw 0.8vw 1.1vw;
  border-radius: 0.3vw 1.3vw 1.3vw 1.3vw;
}

.PMFrame .PMContentOnlyOne {
  display: inherit;
  position: inherit;

  margin-top: 1.8vw;
  margin-left: 3.2vw;
  margin-bottom: 0.1vw;

  font-weight: 400;
  font-size: 0.91vw;

  color: #ffffff;
  background-color: #7846fe;

  padding: 0.9vw 1.0vw 0.8vw 1.1vw;
  border-radius: 0.3vw 1.3vw 1.3vw 1.3vw;
}

.PMFrame .Time {
  display: inherit;
  position: inherit;

  top: 1vw;

  font-weight: 300;
  font-size: 0.6vw;

  color: #444444;
} */