body {
  margin: 0px 10px 0px 10px;

  font-family: 'SCoreDream', sans-serif;
  font-weight: 400;

  background-color: #daccf8;
}
body ol {
  padding: 0%;
  margin: 0%;
  list-style: none;
  text-align: center;
}
body ol li {
  margin-bottom: 5px;
}
body a {
  text-decoration: none;
  color: black;
}

.alwaysTop {
  height: 50px;
}
.alwaysTop .background {
  display: flex;
  justify-content: center;

  position:fixed;
  z-index: 1;
  -webkit-transform: translateZ(0);

  left: 0px;
  
  height: 50px;
  width: 100%;
}
.alwaysTop .leftDirection {
  position: fixed;
  z-index: 2;
  -webkit-transform: translateZ(0);
  
  top: 13px;

  height: 24px;
  width: 24px;
}
.alwaysTop .chatName {  
  position: fixed;
  z-index: 2;
  -webkit-transform: translateZ(0);

  top: 16px;
  left: 50%;
  transform: translate(-50%);

  font-weight: 500;
  font-size: 16px;
  color: #444444;
} 
.alwaysTop .menuIcon {
  position: fixed;
  z-index: 2;
  -webkit-transform: translateZ(0);

  top: 13px;
  right: 15px;

  height: 24px;
  width: 24px;
}

.zIndex3 {
  position: fixed;
  z-index: 1;
  -webkit-transform: translateZ(0);

  width: 75%;
  left: 50%;
  transform: translate(-50%);
  background-color: #c6acff;
  padding: 20px;
  border: 2px solid;
  border-radius: 10px;
  margin-bottom: 20px;

  display: none;
}
.dateFrame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.dateFrame .selector {
  font-weight: 400;
  font-size: 18px;

  margin-bottom: 10px;

  text-align: center;
}
.dateFrame .year {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-weight: 300;
}
.dateFrame .year #Year2022 {
  margin-bottom: 5px;
  cursor: pointer;
}
.dateFrame .year #Year2023 {
  cursor: pointer;
}
.dateFrame .month {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dateFrame .month .monthList {
  opacity: 0;
  cursor: pointer;
}
.dateFrame .date {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dateFrame .date .dateSet {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dateFrame .date .dateList {
  opacity: 0;
  cursor: pointer;
}

.datePM {
  display: flex;
  justify-content: center;
}
.datePM span {
  font-size: 12px;

  color: #ffffff;
  background-color: rgba(186, 173, 211, 1.0);

  padding: 5px 13px 3px 13px;
  border-radius: 15px;
}

.PMFrame {
  display: inline-block;
  position: relative;
  
  width: 100%;
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 14px;

  font-family: 'SCoreDream', sans-serif;
}
.PMFrame .ProfilePic {
  display: inherit;
  position: absolute;

  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.PMFrame .Name {
  position: absolute;

  font-weight: 500;
  font-size: 14px;

  margin-top: 2px;
  margin-left: 35px;
}
.PMFrame .PMContentFirst {
  display: inherit;
  position: inherit;

  margin-top: 22px;
  margin-left: 35px;
  margin-bottom: 2px;

  color: #ffffff;
  background-color: #7846fe;

  padding: 15px 15px 13px 13px;
  border-radius: 3px 20px 20px 3px;
}
.PMFrame .PMContent {
  display: inherit;
  position: inherit;

  margin-left: 35px;
  margin-bottom: 2px;

  color: #ffffff;
  background-color: #7846fe;

  padding: 15px 15px 13px 13px;
  border-radius: 3px 20px 20px 3px;
}
.PMFrame .PMContentLast {
  display: inherit;
  position: inherit;

  margin-left: 35px;
  margin-bottom: 2px;

  color: #ffffff;
  background-color: #7846fe;

  padding: 15px 15px 13px 13px;
  border-radius: 3px 20px 20px 20px;
}

.PMFrame .PMContentOnlyOne {
  display: inherit;
  position: inherit;

  margin-top: 22px;
  margin-left: 35px;
  margin-bottom: 2px;

  color: #ffffff;
  background-color: #7846fe;

  padding: 15px 15px 13px 13px;
  border-radius: 3px 20px 20px 20px;
}
.PMFrame .Time {
  display: inherit;
  position: inherit;

  top: 17px;
  right: 2px;

  font-weight: 300;
  font-size: 10px;

  color: #444444;
}
